
    <title>PlanMyEscape - Admin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_stylesheet_tag "active_admin.scss" %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'active_admin' %>
