<!DOCTYPE html>
<html>
  <head>
    <title>PlanMyEscape</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_stylesheet_tag "application" %>
    <%= vite_client_tag %>
    <%= vite_typescript_tag 'application' %>

  </head>

  <body>       
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= link_to "Admin", admin_dashboard_path %>
    <%= link_to "Home", root_path %>
    <%= yield %>
  </body>
</html>
